# IDE settings
.vscode/

# Compiled binaries or other executables
bin/
build/

# Example file you don’t want tracked
exemplo.txt

# Local server-side data
server_storage/

# Local client-side data
client_storage/